In [1]:
import pandas as pd

In [2]:
my_index =  ['Jisoo','Jennie','Rose','Lisa']

In [3]:
my_data = ['Visual','Rapper','Vocal','Dancer']

In [4]:
black_pink = pd.Series(my_data,my_index)

In [5]:
black_pink

Jisoo     Visual
Jennie    Rapper
Rose       Vocal
Lisa      Dancer
dtype: object

In [6]:
ages = {'Js':26,'Jn':25,'R':24,'Ls':24}

In [7]:
pd.Series(ages)

Js    26
Jn    25
R     24
Ls    24
dtype: int64

In [8]:
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [9]:
q1_sale = pd.Series(q1)

In [10]:
q2_sale = pd.Series(q2)

In [11]:
q1_sale

Japan     80
China    450
India    200
USA      250
dtype: int64

In [12]:
q2_sale

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [17]:
total = pd.Series.add(q1_sale,q2_sale,fill_value=0)

In [18]:
total

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [19]:
q1_sale*2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [21]:
q2_sale.keys()

Index(['Brazil', 'China', 'India', 'USA'], dtype='object')