In [2]:
import numpy as np
import pandas as pd

In [3]:
names = pd.Series(['andrew','bobo','claire','david','4'])

In [4]:
names

0    andrew
1      bobo
2    claire
3     david
4         4
dtype: object

In [6]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [8]:
names.str.capitalize()

0    Andrew
1      Bobo
2    Claire
3     David
4         4
dtype: object

In [9]:
tech_finance = ['GOOG,APPL,AMZN','JPM,BAC,GS']

In [12]:
tickers = pd.Series(tech_finance)

In [14]:
tickers.str.split(',',expand=True)

      0     1     2
0  GOOG  APPL  AMZN
1   JPM   BAC    GS

In [15]:
messy_names = pd.Series(["andrew  ","bo;bo","  claire  "])

In [17]:
messy_names.str.replace(';','').str.strip().str.capitalize()

0    Andrew
1      Bobo
2    Claire
dtype: object

In [18]:
def cleannup(name):
    name = name.replace(';','')
    name = name.strip()
    name = name.capitalize()
    return name